In [49]:
import pandas as pd

In [51]:
df= pd.read_csv("spotify_millsongdata.csv")

In [52]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [53]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [54]:
df.shape

(57650, 4)

In [55]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [56]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [57]:
df.head(10)

,artist,song,text
0,Devo,Plain Truth,Who are you and who am I \r\nExcept a couple ...
1,Roxette,How Do You Do!,I see you comb your hair and gimme that grin ...
2,Doris Day,On Moonlight Bay,We were sailing along on Moonlight Bay \r\nWe...
3,UB40,Demonstrate,Well Jerry at de mike come fe Demonstrate \r\...
4,Violent Femmes,Black Girls,"I dig the black girls, \r\nOh so much more th..."
5,Status Quo,High Flyer,Here we go another twenty four hours \r\nEver...
6,Tears For Fears,Always In The Past,Money can't change the way you feel \r\nSmoke...
7,Used,Kissing You Goodbye,"Cut yourself in conversation, cut the line to ..."
8,Z-Ro,Let Me Live My Life,"[Z-Ro] \r\nMy life is like a mercy game, duck..."
9,Creedence Clearwater Revival,Someday Never Comes,"First thing I remember was asking papa, why, ..."

In [58]:
df['text'][0]

"Who are you and who am I  \r\nExcept a couple of people  \r\nWasting lots of time  \r\nWorrying about the future  \r\nForever asking why  \r\nSome people go on living  \r\nWhile others die before their time  \r\nYet there's never been a reason  \r\nWhatever is is right  \r\nIf only just because  \r\nIts much too big a fight  \r\nLike the painter who is way ahead  \r\nOr worse still far behind  \r\nYou only punch yourself out  \r\nWhen you start swinging blind  \r\nThese are the things too often gone unsaid  \r\nThese are the things that keep  \r\nYou better off than dead  \r\nThese are the things that keep running through your head  \r\n  \r\nThese are the things too often gone unsaid  \r\nWho are you and who am I  \r\nExcept a couple of people  \r\nWith nothing else to do  \r\nBut follow vain obsessions  \r\nMaking gestures towards the truth  \r\nWhile trying to ignore it  \r\nWhen its convenient to  \r\nThe symbols we believe in  \r\nSometimes turn inside out  \r\nReshaping each dimension  \r\nWere so sure about  \r\nDreams get so frustrated  \r\nFantasies turn pranks  \r\nA simple ounce of common sense  \r\nIs money in the bank.\r\n\r\n"

In [59]:
df.shape

(5000, 3)

Text Cleaning / Text Preprocessing

In [60]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [61]:
df.tail(5)

,artist,song,text
4995,Natalie Cole,In My Reality,"ya yeh ya, heyey ya, oh woh woh woh woh, ah ah..."
4996,Sia,The Fight,we are born \r without a care \r as we grow ...
4997,Santana,"Tell Me, Are You Tired",what do you do when you're down and out \r do...
4998,Paul McCartney,For No One,"you day breaks, your mind aches \r you find t..."
4999,Grease,Alma Mater Parody,"""i saw a dead skunk on the highway \r and i w..."

In [62]:
import nltk
from nltk.stem.porter import PorterStemmer

In [63]:
stemmer = PorterStemmer()

In [64]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [65]:
token("you are beatiful, beauti")

'you are beati , beauti'

In [66]:
df['text'].apply(lambda x: token(x))

0       who are you and who am i except a coupl of peo...
1       i see you comb your hair and gim me that grin ...
2       we were sail along on moonlight bay we could h...
3       well jerri at de mike come fe demonstr ye , je...
4       i dig the black girl , oh so much more than th...
                              ...
4995    ya yeh ya , heyey ya , oh woh woh woh woh , ah...
4996    we are born without a care as we grow old but ...
4997    what do you do when you 're down and out do yo...
4998    you day break , your mind ach you find that al...
4999    `` i saw a dead skunk on the highway and i wa ...
Name: text, Length: 5000, dtype: object

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [68]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [69]:
matrix = tfid.fit_transform(df['text'])

In [70]:
similer = cosine_similarity(matrix)

In [71]:
similer[1]

array([0.06957793, 1.        , 0.02884437, ..., 0.01257093, 0.01681317,
       0.01268902])

In [73]:
df[df['song']=='In My Reality'].index[0]

4995

Recommender Function

In [78]:
def recommendation(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for s_id in distance[1:21]:
        songs.append(df.iloc[s_id[0]].song)
        
    return songs

In [79]:
recommendation('Alma Mater Parody')

['Walk On Down',
 "Stuck On Fuckin' You",
 "Blowin' In The Wind",
 'Catch The Next Dream',
 'Dead In The Water',
 'Dead Man',
 "Blowin' In The Wind",
 'Just Across The Way',
 'Where Them Girls At',
 'The Ride',
 'Summer Breeze',
 "Blazin' Your Own Trail Again",
 'Fire And Rain',
 'Worth Fighting For',
 'Back To The Old House',
 'Crazy Feeling',
 "Baby, There's Nothing Like You",
 'The Way You Move',
 'Mr. Jinx',
 'Crazy']

In [80]:
import pickle

In [83]:
pickle.dump(similer,open('similarity.pkl','wb'))

In [85]:
pickle.dump(df,open('df.pkl','wb'))